body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color: #2c3e50;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* skip Link */
.skip-link{
  position: absolute;
  left: 0;
  top: -40px;
  background-color: #1abc9c;
  color: white;
  padding: 0.5rem;
  z-index: 100;

}

.skip-link:focus {
  top: 0;

}

/* container */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}


/* header */
.site-header {
  text-align: left;
  padding: 2rem 0;
  background: #ecf0f1;
  border-radius: 10px;
}

.site-header h1{
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.site-header img.logo {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* navigation */

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.main-nav ul li a:hover {
  background: #7e6767;
  color: white;
  border-radius: 5px;
}

/* banner image */
.banner {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  border-radius: 10px;
}

/* main content */
.jamcontent {
  font-size: 1.2em;
  color: #000;
}

main {
  padding: 2rem 0;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  color: #555;
}


/* owner section */
.owner {
  padding: 2rem ;
  background-color: #ecf0f1;
  border-radius: 10px;
}

.owner h2{
  color: #2980b9;
}

.owner div p, .owner address {
  margin-bottom: 0.5rem;
  font-size: 1.2em;
}

/*Contact forms */

.contact-section {
  padding: 2rem;
  background: #ecf0f1;
  border-radius: 10px;
}

form {
  display: grid;
  gap: 1rem;
}

form label {
  font-size: 1.5rem;

}

form input, form textarea {
  width: 97%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input:focus, form textarea:focus {
  border-color: #0000FF;
  outline: none;
  box-shadow: 0px 0px 5px rgba(26, 188, 156, 0.5);
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: black;
  border: 1px solid black;
  color: #fff;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #2f7769;
  font-size: 1rem;
  transition:all .1s ease-out;
}

/* footer */
.site-footer {
  margin-top: 10px ;
  padding: 2rem 0;
  background: black;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}



/* image styling */
img {
  width: 100%;
  height: 5%;
}



/********************************************************
|       |       |       Media Query    |         |     |   
********************************************************/

@media screen and (max-width: 768px) {
  
  .main-nav ul {
    flex-direction: column;
  }

  .main-nav ul li {
    margin-bottom: 1rem;
  }

  .contact-section, .owner {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2{
    font-size: 1.75rem;
  }

  .site-header img.logo {
    max-width: 100%;
  }
}